@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');

h1, h2, h3 {
    font-family: francois-one, sans-serif;
    padding: 0 20px;
    text-align: center;
}

/* all h1 h2 h3 have added padding and centered to save lines in code*/

section div p {
    padding: 0 20px;
}

section > div {
    background-color: rgba(148,0, 211, 0.15);
}

/* div and div p are targeted to save coding lane */

section a {
    text-decoration:none;
    color:black;
    border-bottom: 1px solid black;
}

section a:hover {
    color:#CD6702;
    border-bottom: 1px solid #CD6702;
}

/* Style for header */

#menu {
    font-size:110%;
    letter-spacing: 1px;
    width:90%;
    height: 30px;
    left: 10px;
}

#menu li {
        float: left;
        list-style-type: none;
        margin-left: 10px;
        text-align: center;
        font-family:unbounded, sans-serif;
        background-color: rgba(148,0, 211, 0.15);
        border-radius: 25%;
        padding: 5px 0 0;
}

#menu a {
    text-decoration:none;
    color:black;
}

#menu a:hover {
    color: #CD6702;
    border-bottom: 1px solid #CD6702;
}

#menu .active {
    color:#CD6702;
    border-bottom: 1px solid #CD6702;
}
 #menu .small-logo {
    background-color: white;
    color:#CD6702;
 }

 /* To add to the read me, I struggle to take out the background color from the small logo*/

 /* welcome image style */

 #welcome {
    height: 500px;
    width: 100%;
    position: relative;
 }

 #welcome-image {
    background: url('../images/welcome-6000x4000.jpeg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
 }

 #welcome-text-cover {
    font-size: 100%;
    font-family: lato, sans-serif;
    text-align: justify;
    width: 300px;
    height:270px;
    color:white;
    font-weight: bold;
    border-radius:15%;

    background-color: rgba(0, 0, 139, 0.4);

    bottom: 15%;
    left: 10%;
    position: absolute;
}

 /* Style for the body of the index page*/
 h1 {
    text-align: center;
    color:#CD6702;
    margin-top: 5%;
 }

 #what-is-a-crypto {
    height: 300px;
    width: 100%;
    margin-top: 5%;
    position: relative;
 }

 #header-left-about {
    float: left;
    width: 50%;
    font-family: unbounded, sans-serif;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top: 10%;
    border-radius: 15%;
 }



 #header-right-about {
    float: right;
    width: 50%;
    font-size: 10%;
    overflow: hidden;
    text-align: center;
    background-color: white;
 }

 /* three sections style */

 #three-sections {
    height:300px;
    padding-top:60px;
    text-align: center;
 }

 #three-sections > div {
    display: inline-block;
    border-radius:10%;
    height:100%;
    width: 33%;
    text-align:center;
 }

 .left-about {
    float:left;
    height: 100%;
    background-color:rgba(0, 0, 139, 0.4);
    color:white;
    font-weight: bold;
 }

 .right-about {
    float:right;
    margin: 0;
    background-color:rgba(0, 0, 139, 0.4);
    color:white;
    font-weight: bold;
 }

 /*
 .center-about {
 }
 */
