@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');

* {
   margin: 0;
   padding: 0;
}

h1 {
   font-family: francois-one, sans-serif;
   text-align: center;
   font-size: 250%;
   width: 100%;
   margin: 20px 0;
}


h2, h3 {
    font-family: francois-one, sans-serif;
    text-align: center;
}

/* all h1 h2 h3 have added padding and centered to save lines in code*/

p {
   font-family: unbounded, sans-serif;
}

/* div and div p are targeted to save coding lane */



section a {
    text-decoration:none;
    color:black;
    border-bottom: 1px solid black;
}

section a:hover {
    color:#FF8C00;
    border-bottom: 1px solid #FF8C00;
}

/* Style for header */

#menu {
    font-size:110%;
    letter-spacing: 1px;
    width:100%;
    height: 50px;
    text-align: left;
    padding-top: 15px;
    background-color: rgba(96, 96, 96, 0.3);
}

#menu li {
        list-style-type: none;
        display: inline;
        margin: 20px 20px;
        height: 100%;
        
}

#menu li a {
    text-decoration:none;
    color:black;
    font-family:unbounded, sans-serif;
    height:100%;
    margin-top: 10px;
}

#menu a:hover {
    color: #FF8C00;
    border-bottom: 1px solid #FF8C00;
}

#menu .active {
    color:#FF8C00;
    border-bottom: 1px solid #FF8C00;
}
 #menu .small-logo {
    color:#FF8C00;
 }

 /* To add to the read me, I struggle to take out the background color from the small logo*/

 #welcome-heading {
   height: 50px;
   width: 100%;
 }


 #welcome-heading-cover {
   font-size: 250%;
   text-align: center;
   width: 100%;
   top:0;
   margin: 15px 0 20px;
   color: black;
 }

 /* welcome image style */

 #welcome {
    height: 500px;
    width: 100%;
 }

 #welcome-image {
    background: url('../images/Karolina-6638x4425.jpg') center center no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    height: 100%;
    width: 100%;
 }

 #welcome-text-cover {
    font-size: 100%;
    text-align: justify;
    width: 350px;
    height:270px;
    border-radius:15%;

    background-color: rgba(255, 255, 255, 0.8);

    bottom: 100px;
    left: 10%;
    position: absolute;
}

#welcome-text-cover p {
   padding: 20px;
   height: 100%;
}

 /* Style for the body of the index page*/

 #what-is-a-crypto {
    height: 250px;
    width: 100%;
    text-align: center;
    display: block;
 }

 /* what is crypto text to center with image*/

 #header-left-about {
    float: left;
    width: 50%;
    font-family: unbounded, sans-serif;
    text-align: justify;
    padding-top: 70px;
 }

 #header-left-about p, #header-left-about h2, #header-left-about hr  {
   margin-left: 10px;
 }



 #header-right-image {
    float: right;
    width: 50%;
    margin: 0 auto;
    background-color: white;
 }

 #circle-countainer {
   width: 250px;
   height: 250px;
   padding: 30px;
   border-color: #ccc;
   border-width: 1px;
   border-radius: 50%;
   margin: 0 auto;
 }

 #circle-image {
   background: url('../images/bitcoin-3955x2637.jpg') center center no-repeat;
   background-size: cover;
   height: 100%;
   border-radius: 50%;
 }

 /* three sections style */

 #three-sections {
    height:450px;
    width: 100%;
    padding-top:60px;
    margin-top: 30px;
    text-align: center;
    display: block;
 }

 #three-sections > div {
    display: inline-block;
    border-radius:10%;
    height:100%;
    width: 33%;
    text-align: left;
 }

 #three-sections p {
   padding: 10px
 }

 #three-sections h2 {
   padding-top: 10px
 }

 .left-about {
    float:left;
    height: 100%;
    background-color: rgba(218, 165, 32, 0.4);
 }



 .right-about {
    float:right;
    margin: 0;
    background-color: rgba(218, 165, 32, 0.4);
 }


 .center-about {
   background-color: rgba(96, 96, 96, 0.3);
 }

 /* Type of token */

 #section-type-token {
   margin: 30px 5px 50px;
   position: relative;
 }

#heading-token {
   height: 150px;
   width: 50%;
   font-size: 100%;
   text-align: center;
   float: right;
   margin: 80px 0 0;
}

#token-left-image {
   float: right;
   width: 50%;
   margin-bottom: 20px;
   background-color: white;
}

#circle-token {
  width: 250px;
  height: 250px;
  padding: 30px;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-image-token {
  background: url('../images/tokens-3014x2448.jpeg') center center no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

#list-token-header li {
   font-family: unbounded;
}

#list-token {
display: block;
padding:0;
margin:0 0 50px;
}

 .list-odd {
    background-color: rgba(218, 165, 32, 0.4);
    width: 50%;
    height: 250px;
    float: left;
    margin: 0 auto;
    padding: 0 10px;
 }

 .list-even {
    background-color: rgba(96, 96, 96, 0.3);
    width: 50%;
    height: 250px;
    float: right;
    margin: 0 auto;
    padding: 0 10px;
 }

 .list-odd h3, .list-even h3 {
    text-align: center;
    width: 100%;
    font-size: 130%;
 }

.list-odd p {
    text-align: left;
    width: 100%;
 }

.list-even p {
    text-align: right;
    width: 100%;
 }

/* footer */

#footer {
   height: 150px;
   width: 100%;
   bottom: 0;
   clear: both;
   text-align: center;
}

.usefull-links {
   background-color: rgba(96, 96, 96, 0.3);
   height: 75px;
   text-align: center;
   padding-top: 50px;
}
.usefull-links li {
   display: inline;
   width: 100%;
   height:100%;
   font-family: unbounded;
   font-size: 110%;
   letter-spacing: 1px;
   
}

.usefull-links li a {
   text-decoration:none;
   color:black;
   height: 100%;
   width:100%;
   margin: 1%;
   padding: 1%;
   bottom: 0;
}

.usefull-links li a:hover {
   color:#FF8C00;
   border-bottom: 1px solid #FF8C00;
}

#copyright {
   background-color: rgba(96, 96, 96, 0.3);
   height: 50px;
}

/* Buy page style */

#buy-welcome {
   text-align: center;
}

#buy-exchanges {
   height: 100%;
   width: 90%;
   margin: 30px auto;
}

#buy-exchanges h2 {
   margin-top: 50px;
   width: 100%;
   text-align: center;
}

#buy-exchanges p {
   margin-top: 30px;
   border: 0 10px;
   width: 100%;
}

#list-buy {
   width: 70%;
}

/* table style */

#data-entry {
   border: solid 2px;
   font-family: unbounded;
   width: 75%;
   height: 500px;
   margin: 0 auto;
   text-align: center;
}

#data-entry th {
   border-bottom: solid 2px;
   font-size: 110%;
   background-color: rgba(96, 96, 96, 0.3);
}

.grey-table {
   background-color: rgba(96, 96, 96, 0.3);
}

.gold-table {
   background-color: rgba(218, 165, 32, 0.4);
}

.gold-table td {
   border-right: solid 1px;
}

.grey-table td {
   border-right: solid 1px;
}

 /* Style for scam page */

#form-scam {
   background: url(../images/scam-6638x4425.jpg) center center no-repeat;
   background-size: cover;
   height: 1200px;
}

.report-form {
   background-color:rgba(96, 96, 96, 0.5);
   font-family: unbounded;
   width:40%;
   color: white;
   left: 5%;
   top: 25%;
   position: absolute;
   width: 40%;
   padding: 20px;
}

.report-form > h3 {
   margin: 20px auto;
   text-align: left;
}

.text-input {
   background-color: transparent;
   color: white;
   width: 100%;
   margin: 10px 0;
}

.text-input:hover {
   border-color:#FF8C00;
}

.scam-input {
   background-color: transparent;
   color: white;
   width: 100%;
   height: 300px;
}

.scam-input:hover {
   border-color:#FF8C00;
}

.report-button {
   width: 150px;
   display: block;
   margin: 30px auto;
   padding: 10px 30px;
   background-color:  rgba(218, 165, 32, 0.4);
   color:white;
}

.report-button:hover {
   border-color: white;
}

.radio-input {
   display: block;
}

/* Better look and it is a responsible desgn for all dimension of screens */

/* Media queries */
/* For larger to medium screens size from 1200px wide and down*/
@media screen and (max-width: 1200px) {
   #three-sections {
      height:800px;
      padding-top:60px;
      margin: 30px 10px 30px;
      text-align: center;
      display: block;
   }
  
   #three-sections > div {
      display: block;
      border-radius:10%;
      height:33%;
      width: 100%;
      text-align: center;
   }
   .left-about {
      float: none;
      height: 100%;
      background-color: rgba(218, 165, 32, 0.4);
   }
  
  
  
   .right-about {
      float: none;
      margin: 0;
      background-color: rgba(218, 165, 32, 0.4);
   }
}

@media screen and (max-width: 1000px) {
   #menu {
      font-size:110%;
      letter-spacing: 1px;
      width:100%;
      height:150px;
      text-align: center;
      padding-top:10px;
      background-color: rgba(96, 96, 96, 0.3);
  }
  
  #menu li {
          list-style-type: none;
          display: block;
          height: 25%;
          margin: 0 auto;
  }
  
  #what-is-a-crypto {
   height: 500px;
   width: 100%;
   text-align: center;
   margin-bottom: 90px;
   display: block;
}

/* what is crypto text to center with image*/

#header-left-about {
   float: none;
   width: 100%;
   height: 40%;
}

#header-left-about p, #header-left-about h2, #header-left-about hr  {
   margin: 0 10px;
 }

#header-right-image {
   float: none;
   width: 100%;
   height: 60%;
   margin: 0px auto 30px;
   clear: both;
}
}