@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');

* {
   margin: 0;
   padding: 0;
}

h1, h2, h3 {
    font-family: francois-one, sans-serif;
    text-align: center;
}

/* all h1 h2 h3 have added padding and centered to save lines in code*/

p {
   font-family: unbounded, sans-serif;
}

/* div and div p are targeted to save coding lane */



section a {
    text-decoration:none;
    color:black;
    border-bottom: 1px solid black;
}

section a:hover {
    color:dimgrey;
    border-bottom: 1px solid dimgrey;
}

/* Style for header */

#menu {
    font-size:110%;
    letter-spacing: 1px;
    width:100%;
    height: 50px;
    left: 10px;
    background-color: rgba(96, 96, 96, 0.3);
}

#menu li {
        float: left;
        list-style-type: none;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        font-family:unbounded, sans-serif;
        border-radius: 25%;
}

#menu a {
    text-decoration:none;
    color:black;
}

#menu a:hover {
    color: #CD6702;
    border-bottom: 1px solid #CD6702;
}

#menu .active {
    color:#CD6702;
    border-bottom: 1px solid #CD6702;
}
 #menu .small-logo {
    color:#CD6702;
 }

 /* To add to the read me, I struggle to take out the background color from the small logo*/

 /* welcome image style */

 #welcome {
    height: 450px;
    width: 100%;
 }

 #welcome-image {
    background: url('../images/Karolina-6638x4425.jpg') center center no-repeat;
    background-size: cover;
    background-position: 0% 70%;
    height: 100%;
    width: 100%;
 }

 #welcome-heading-cover {
   font-size: 200%;
   text-align: center;
   width: 100%;
   height:100px;
   top: 0;
   position: absolute;
 }

 #welcome-text-cover {
    font-size: 100%;
    text-align: justify;
    width: 450px;
    height:270px;
    border-radius:15%;

    background-color: rgba(255, 255, 255, 0.7);

    bottom: 40%;
    left: 10%;
    position: absolute;
}

#welcome-text-cover p {
   padding: 20px;
}

 /* Style for the body of the index page*/
 h1 {
    text-align: center;
    color:#CD6702;
    margin-top: 5%;
 }

 #what-is-a-crypto {
    height: 250px;
    width: 100%;
    text-align: center;
    margin: 0 5px;
    display: block;
    clear: both;
 }

 /* what is crypto text to center with image*/

 #header-left-about {
    float: left;
    width: 50%;
    font-family: unbounded, sans-serif;
    text-align: center;
    padding-top: 60px;
    border-left: 5px;
    margin: auto;
    position: relative;
 }



 #header-right-image {
    float: right;
    width: 50%;
    margin: 0 auto;
    background-color: white;
 }

 #circle-countainer {
   width: 250px;
   height: 250px;
   padding: 30px;
   border-color: #ccc;
   border-width: 1px;
   border-radius: 50%;
   margin: 0 auto;
 }

 #circle-image {
   background: url('../images/bitcoin-3955x2637.jpg') center center no-repeat;
   background-size: cover;
   height: 100%;
   border-radius: 50%;
 }

 /* three sections style */

 #three-sections {
    height:300px;
    padding-top:60px;
    margin-top: 30px;
    text-align: center;
    display: block;
 }

 #three-sections > div {
    display: inline-block;
    border-radius:10%;
    height:100%;
    width: 33%;
    text-align:center;
 }

 .left-about {
    float:left;
    height: 100%;
    background-color: rgba(218, 165, 32, 0.4);
 }

 .right-about {
    float:right;
    margin: 0;
    background-color: rgba(218, 165, 32, 0.4);
 }


 .center-about {
   background-color: rgba(96, 96, 96, 0.3);
 }

 /* Type of token */

 #section-type-token {
   margin: 30px 5px 50px;
   position: relative;
   display: block;
 }

#h2-token {
   height: 200px;
   width: 50%;
   font-size: 100%;
   text-align: center;
   float: right;
   margin-bottom: 0;
   
}

#token-left-image {
   float: right;
   width: 50%;
   margin-bottom: 20px;
   background-color: white;
}

#circle-token {
  width: 250px;
  height: 250px;
  padding: 30px;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-image-token {
  background: url('../images/tokens-3014x2448.jpeg') center center no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

#list-token {
display: block;
padding:0;
margin:0 0 50px;
}

 .list-odd {
    background-color: rgba(218, 165, 32, 0.4);
    width: 50%;
    height: 200px;
    float: left;
    margin: 0 auto;
    padding: 0 10px;
 }

 .list-even {
    background-color: rgba(96, 96, 96, 0.3);
    width: 50%;
    height: 200px;
    float: right;
    margin: 0 auto;
    padding: 0 10px;
 }

 .list-odd h3, .list-even h3 {
    text-align: center;
    width: 100%;
    font-size: 130%;
 }

.list-odd p {
    text-align: left;
    width: 100%;
 }

.list-even p {
    text-align: right;
    width: 100%;
 }

/* footer */

#footer {
   height: 150px;
   width: 100%;
   bottom: 0;
   clear: both;
   text-align: center;
}

.usefull-links {
   background-color: rgba(96, 96, 96, 0.3);
   height: 75px;
   text-align: center;
   padding-top: 50px;
}
.usefull-links li {
   display: inline;
   width: 100%;
   height:100%;
   font-family: unbounded;
   font-size: 110%;
   letter-spacing: 1px;
   
}

.usefull-links li a {
   text-decoration:none;
   color:black;
   height: 100%;
   width:100%;
   margin: 1%;
   padding: 1%;
   bottom: 0;
}

.usefull-links li a:hover {
   color: #CD6702;
   border-bottom: 1px solid #CD6702;
}

#copyright {
   background-color: rgba(96, 96, 96, 0.3);
   height: 50px;
}

/* Buy page style */

#buy-welcome {
   text-align: center
}