@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300&family=Unbounded:wght@500&display=swap');


h1, h2, h3 {
    font-family: francois-one, sans-serif;
    padding: 0 20px;
    text-align: center;
}

/* all h1 h2 h3 have added padding and centered to save lines in code*/

section div p {
    padding: 0 20px;
}

p {
   font-family: unbounded, sans-serif;
}

section > div {
    background-color: rgba(96, 96, 96, 0.4);
}

/* div and div p are targeted to save coding lane */

section a {
    text-decoration:none;
    color:black;
    border-bottom: 1px solid black;
}

section a:hover {
    color:dimgrey;
    border-bottom: 1px solid dimgrey;
}

/* Style for header */

#menu {
    font-size:110%;
    letter-spacing: 1px;
    width:100%;
    height: 50px;
    left: 10px;
    background-color: rgba(96, 96, 96, 0.3);
}

#menu li {
        float: left;
        list-style-type: none;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        font-family:unbounded, sans-serif;
        border-radius: 25%;
}

#menu a {
    text-decoration:none;
    color:black;
}

#menu a:hover {
    color: #CD6702;
    border-bottom: 1px solid #CD6702;
}

#menu .active {
    color:#CD6702;
    border-bottom: 1px solid #CD6702;
}
 #menu .small-logo {
    color:#CD6702;
 }

 /* To add to the read me, I struggle to take out the background color from the small logo*/

 /* welcome image style */

 #welcome {
    height: 500px;
    width: 100%;
    position: relative;
 }

 #welcome-image {
    background: url('../images/welcome-6000x4000.jpeg') center center no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    bottom: 50%;
 }

 #welcome-heading-cover {
   font-size: 200%;
   text-align: center;
   width: 100%;
   height:100px;
   top: 0;
   position: absolute;
 }

 #welcome-text-cover {
    font-size: 100%;
    text-align: justify;
    width: 450px;
    height:270px;
    border-radius:15%;

    background-color: rgba(205, 103, 2, 0.3);

    bottom: 15%;
    left: 10%;
    position: absolute;
}

 /* Style for the body of the index page*/
 h1 {
    text-align: center;
    color:#CD6702;
    margin-top: 5%;
 }

 #what-is-a-crypto {
    height: 250px;
    width: 100%;
    padding: 30px;
    text-align: center;
 }

 /* what is crypto text to center with image*/

 #header-left-about {
    float: left;
    width: 50%;
    font-family: unbounded, sans-serif;
    text-align: center;
    margin: auto;
    position: relative;
 }



 #header-right-image {
    float: right;
    width: 50%;
    margin: 0 auto;
    background-color: white;
 }

 #circle-countainer {
   width: 250px;
   height: 250px;
   padding: 30px;
   border-color: #ccc;
   border-width: 1px;
   border-radius: 50%;
   margin: 0 auto;
 }

 #circle-image {
   background: url('../images/bitcoin-3955x2637.jpg') center center no-repeat;
   background-size: cover;
   height: 100%;
   border-radius: 50%;
 }

 /* three sections style */

 #three-sections {
    height:300px;
    padding-top:60px;
    text-align: center;
 }

 #three-sections > div {
    display: inline-block;
    border-radius:10%;
    height:100%;
    width: 33%;
    text-align:center;
 }

 .left-about {
    float:left;
    height: 100%;
    background-color: rgba(205, 103, 2, 0.3);
 }

 .right-about {
    float:right;
    margin: 0;
    background-color: rgba(205, 103, 2, 0.3);
 }

 /*
 .center-about {
 }
 */

 /* Type of token */

 .list-odd {
    background-color: rgba(205, 103, 2, 0.3);
    width: 50%;
    float: left;
    clear: both;
    margin-top: 10px;
 }

 .list-even {
    background-color: rgba(96, 96, 96, 0.4);
    width: 50%;
    float: right;
    clear: both;
    margin-top: 10px;
 }

 .list-odd h3, .list-even h3 {
    text-align: center;
    width: 90%;
    font-size: 140%;
 }

.list-odd p{
    text-align: left;
    width: 90%;
    clear: both;
    margin: 0 auto;
 }

.list-even p {
    text-align: right;
    width: 90%;
    clear: both;
    margin: 0 auto;
 }
